.search-input-container {
  background-color: var(--dimmed-color);
  border-radius: 16px;
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    color: var(--lightest-font-color);
    font-size: 20px;
    flex: 1 1 0;
    margin: 0 20px;
  }

  .search-button {
    background-color: var(--azure-color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--white-color);
    padding: 10px;

    transition: background-color 0.5s;

    &:hover {
      background-color: var(--azure-a70-color);
    }

    &:active {
      background-color: var(--azure-a80-color);
    }
  }
}
