@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@import './reset.scss';

:root {
  --dark-theme-color: #141c2f;
  --dark-theme-sub-color: #1f2b48;
  --dark-theme-font-color: #ffffff;
}

html,
body {
  background-color: var(--dark-theme-color);
  color: #ffffff;
  font-family: 'Jua', -apple-system, 'Segoe UI', 'Roboto', sans-serif;
  // height: auto;
  min-height: 100%;
}

body {
  * {
    font: inherit;
  }
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
}
