@import '../../../styles/mixin';

.minor-info-container {
  margin-top: 30px;

  .icon-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .icon-list-item {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      word-break: break-all;
      white-space: nowrap;

      svg {
        vertical-align: middle;
        display: inline-block;
        color: var(--lightest-font-color);
      }

      .desc {
        vertical-align: middle;
        font-weight: 400;
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
  @include respond(tablet) {
  }

  @include respond(mobile) {
    .icon-list {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
