@import '../../../styles/mixin';

.image-container {
  background-color: var(--list-background-color);
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  .skeleton-base {
    width: 150px;
    height: 150px;
  }

  @include responsive(tablet) {
    max-width: 150px;
    max-height: 150px;
  }

  @include responsive(mobile) {
    max-width: 100px;
    max-height: 100px;

    .skeleton-base {
      max-width: 100px;
      max-height: 100px;
    }
  }
}
