@import '../../../styles/mixin';

.basic-info-container {
  display: flex;
  flex-wrap: wrap;

  .info-wrap {
    flex: 1 1 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;

    .title-wrap {
      span {
        font-size: 1.4rem;
      }
      .title {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }
    }
    .date-wrap {
      p.date {
        color: var(--light-font-color);
      }
    }
  }

  .bio-wrap {
    grid-column-start: 1;
    grid-column-end: 3;
    p.bio {
      color: var(--light-font-color);
    }

    &.mobile {
      display: none;
    }
  }
  @include responsive(tablet) {
    .info-wrap {
      grid-auto-flow: column;
      grid-template-columns: 1fr;
    }
    .bio-wrap {
      display: none;

      &.mobile {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  @include responsive(mobile) {
    .info-wrap {
      grid-auto-flow: column;
      grid-template-columns: 1fr;
    }
    .bio-wrap {
      display: none;

      &.mobile {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
