@import '../../styles/mixin';

.skeleton-base {
  background-color: #f4f4f4;
  display: block;

  &.rounded {
    border-radius: 8px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.animation {
    animation: PULSE-ANIMATE 1.5s ease-in-out 0.5s infinite;
  }
}
.skeleton-content {
  opacity: 0;
}

/* KEYFRAMES */
@include keyframes(PULSE-ANIMATE) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
